/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/

body{
    font-family: 'Lato', sans-serif;
}

.wrapper{
	max-width: 1600px;
	width: 100%;
	margin: 0 auto; /*Центрирование*/
}

.center{
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
}

header{
	height: 100px; /*Высота шапки (хедера)*/
	background-color: #f6f9f9;
}

header .logo span{
	font-size: 30px;
	font-weight: bold; /*Насыщенность*/
	color: #2d3950;
	position: relative; /*Относительное позицирование*/
	top: -5px; /*Подняли*/
	left: 15px; /*Отступ от левого края текста*/
}

header .logo{
	padding-top: 30px; /*Центрируем по вертикали картинку и текст*/

}

.container2{
	background-image: url('../images/top_background.png');
	height: calc(100vh - 100px);
	max-height: 800px;
	background-size: cover; /* гтчего не обрежется*/
	background-repeat: no-repeat;

}

.container2 h1{
	font-size: 120px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding-top: 20vh; /*опустили текст на 220* относительная высота*/
}

.container2 i {
	display: block; /*чтобы элемент был блочным*/
	width: 600px;
	height: 2px;
	background-color: #15f4fa;
	margin: 0 auto;
	margin-top: 35px;
}

.container2 p{
	font-size: 20px; /*размер  шрифта*/
	color: #fff;
	text-align: center;
	padding-top: 40px; /*отступ сверху?*/
}

.container2 .link_top{
	text-align: center;
	padding-top: 65px;
}

.container2 .link_top a{
	color: #fff;
	font-size: 18px;
	text-decoration: non	e; /*удалили полоску с ссылки*/
	border: 1px solid #15f4fa;
	border-radius: 3px; /*закруглили углы*/
	padding-top: 20px; /*сверху*/
	padding-bottom: 20px;
	padding-left: 36px;
	padding-right: 36px; /* padding 20px 36px*/

}

.container2 .link_top a:hover{ /*при наведении на а меняется*/
	font-size: 20px;
	background: #15f4fa;
} 

.container2 .bottom_link svg {
	display: block;
	font-size: 20px;
	margin: 60px auto auto auto;
	color: #ffffff;
}

.container3{
	background-color:#f6f9f9;
	background-size: 100%;
}

.container3 h1{
	font-size: 40px;
	color: #353c51;
	font-weight: normal;
	text-align: center;
	padding-top: 100px; /*опустили текст на 220*/
}
.container3 p {
	font-size: 20px;
	text-align: center;
	word-spacing: 6px;
	color: #999999;
	padding-top: 30px;
}

  
.container4 .item{
	display: inline-block; /*чтобы из столбцов стали строкой 3 блока подряд*/
	width: 30%; /*ширина*/
	min-width: 300px; /*чтобы железно стоял такой размер, не уменьшалось*/
	padding-top: 50px;
	height: 150px;
	margin: 5% 1.45%; /*появляются отступы между блоками*/
	padding-bottom: 100px;
}

.container4 .item .quad{
	display: block;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #77b9fd 50%, #85c2fd 50%);
	margin: 0 auto;
	color: #ffffff;
	background-size: 100px;
}
.container4 .item .quad svg {
	display: block;
	font-size: 55px;
	padding-top: 25px;
	padding-left: 35px;
	color: #ffffff;
}
.container4 .item .plane{
	display: block;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #77b9fd 50%, #85c2fd 50%);
	margin: 0 auto;
	color: #ffffff;
	background-size: 100px;
}
.container4 .item .plane svg {
	display: block;
	font-size: 50px;
	padding-top: 28px;
	padding-left: 25px;
	color: #ffffff;
}

.container4 .item .bullhorn{
	display: block;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #77b9fd 50%, #85c2fd 50%);
	margin: 0 auto;
	color: #ffffff;
	background-size: 100px;
}

.container4 .item .bullhorn svg {
	display: block;
	font-size: 50px;
	padding-top: 25px;
	padding-left: 23px;
	color: #ffffff;
}


.container4 p{
	font: bold Lato Regular;
	font-size: 20px; /*размер  шрифта*/
	color: #42495c;
	text-align: center;
	padding-top: 25px; /*отступ сверху?*/  
	font-weight: bold;
}
.container4 h2{
	font-size: 13px; /*размер  шрифта*/
	color: #989898;
	text-align: center;
	padding-top: 25px; /*отступ сверху?*/
}

.container5 {
	height: 100%;
	font-weight: 100% ;
	background-color: #f6f9f9;
}

.container5 h2 {
	font-size: 41px;
	text-align: center;
	word-spacing: 10px;
	color: #2d3950;
	padding-top: 82px;
}

.container5 p {
	font-size: 15px;
	text-align: center;
	color: #999999;
	padding-top: 30px;
}
.container5 .img {
	margin-top: 80px;
}
.container5 .img .item_img{
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    /* min-width: 345px; */
    height: 249px;
    background: #15a4fa;
}

.container5 .item_img img{
    max-width: 100%;
}

.container5 .item_img .hover_cart {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	background: rgba(44, 172, 247, 0.9);
	transition: all 0.7s;
	opacity: 0;
	top: -251px;
}

.container5 .item_img .hover_cart:hover {
	opacity: 1;
}

.container5 .item_img .hover_cart .item {
	width: 100px;
	height: 45px;
	position: absolute;
	z-index: 2;
	margin: 109px auto auto 133px;
}

.container5 .item_img .hover_cart .item svg {
	color: #fff;
	padding-left: 30px;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 13px 13px 13px;
	margin-left: 10%;
}


.container6 {
	background-image: url('../images/bottom_background.png');
	height: 700px;
	background-size: 100%;
}

.container6 .img-overlay {
	width: 100%;
	height: 100%;
	background: rgba(45, 57, 80, 0.9);
}

.container6 h2 {
	font-size: 41px;
	text-align: center;
	word-spacing: 10px;
	color: #ffffff;
	padding-top: 76px;
}

.container6 p {
	font-size: 15px;
	text-align: center;
	color: #999999;
	padding-top: 19px;
}

.container6 .name {
	outline: 0 !important;
	display: block;
	width: 45%;
	font-size: 15px;
	padding: 25px 20px 25px 20px;
	margin-top: 50px;
	color: #999999;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #999999;
	border-radius: 3px;
	margin: 40px auto;
}

.container6 .email {
	outline: 0 !important;
	display: block;
	width: 45%;
	font-size: 15px;
	padding: 25px 20px 25px 20px;
	margin-top: 20px;
	color: #999999;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #999999;
	border-radius: 3px;
	margin: 0 auto;
}

.container6 .message {
	outline: none;
	resize: none;
	display: block;
	width: 45%;
	height: 112px;
	font-size: 15px;
	padding: 25px 20px 25px 20px;
	margin-top: 20px;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #999999;
	border-radius: 3px;
	margin: 40px auto;
}

.container6 .message:hover {
	color: #fff;
	border: 1px solid #fff;
}

.container6 .email:hover {
	color: #fff;
	border: 1px solid #fff;
}

.container6 .name:hover {
	color: #fff;
	border: 1px solid #fff;
}

.container6 .checkbox {
	display: inline-block;
	width: 17px;
	height: 17px;
	cursor: pointer;
	padding-right: 5px;
	margin: 0 auto auto auto;
	margin-left: 26%;
}

.container6 span {
	display: inline-block;
	position: absolute;
	font-size: 15px;
	color: #fff;
	margin: 0 auto auto 14px;
}

.container6 .submit {
	float: right;
	width: 142px;
	height: 47px;
	font-size: 18px;
	color: #fff;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #15a4fa;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 26%;
}
.container6 .submit:hover {
	background-color: #15a4fa;
}


footer {
	
	background-color: #f6f9f9;
}
footer span {
	font-size: 15px;
	color: #999999;
	vertical-align: 13px;
	padding-right: 70.4%;
}
footer .facebook, .twitter, .google_plus, .linkedin, span{
	display: inline-block;
}
footer .facebook svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 16px 13px 16px;
	margin: 25px 0px auto auto;
}
footer .twitter svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 13px 13px 13px;
	margin: 25px 0px auto auto;
}
footer .google_plus svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 11px 13px 12px;
	margin: 25px 0px auto auto;
}
footer .linkedin svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 14px 13px 14px;
	margin: 25px auto auto 0px;
}

a {
	text-decoration: none;
}


@media(max-width:1250px) {
	.center{
		width: 90%;
	}
	.container3 p {
		font-size: 18px;
		word-spacing: 5px;
	}
	.container4 .item{
		width: 43%;
		margin: 1.45% 3%;
	}
	.container4 .item .item3{
		margin-left: 70%;
		width: 80%;
	}
	.container5 .img .item_img{
		display: inline-block;
		margin: 0 auto;
	}
	.container5 .item_img{
		display: inline-block;
		width: 10%;
		margin: 1.5%;
		height: 249px;
		background: #e7c70e;
	}
	footer span {
		padding-right: 50%;
	}
		
	

@media(max-width:768px) {
	.container2 i{
		width: 80%;
	}
	.container4 .item{
		display: block;
		width: 50%;
		margin: 1.45% auto; /*отступы сверху, снизу, а второе авто-по цкнтру*/
	}
	.container4 .item .item3{
		display: block;
		width: 50%;
		margin: 1.45% auto; /*отступы сверху, снизу, а второе авто-по цкнтру*/
	}
	.container5 .img .item_img{
		display: block;
		width: 50%;
		margin: 1% auto;
	}
	.container6 span {
		font-size: 13px;
	}
	.container6 .submit {
	width: 75px;
	height: 30px;
	margin-right: 24%;
	margin-top: -10px;
	}
	.container6 .checkbox {
		width: 15px;
		height: 15px;
		margin-left: 23%;
	}
	footer span {
		padding-right: 36.5%;
	}
}

@media(max-width:592px){
	.container2 h1{
		font-size: 70px;
	}
	footer span {
		padding-right: 11.3%;
	}
}

@media(max-width:425px){
	.container5 .img .item_img{
		min-width: 280;
	}
	.container6 .submit {
		margin-right: 40%;
		margin-top: 8%;
		}
		footer {
			height: 60px;
		}
	
		footer .right {
			margin-top: 0px;
		}
	
		footer .facebook svg {
			float: right;
			padding: 8px 12px 9px 13px;
			margin-top: 15px;
		}
	
		footer .twitter svg {
			float: right;
			padding: 8px 9px 9px 9px;
			margin-top: 15px;
		}
	
		footer .google_plus svg {
			float: right;
			padding: 8px 8px 9px 7px;
			margin-top: 15px;
		}
	
		footer .linkedin svg {
			float: right;
			padding: 8px 10px 9px 11px;
			margin-top: 15px;
		}
	
		footer span {
			font-size: 11px;
			margin-top: 26px;
		}
	}
	
}

@media(max-width:375px){
	.container6 .submit {
		margin-right: 8px;
	}

	.container5 {
		height: 1585px;
	}
	
}